*.log
*_cache/
*_files/
*.tex
example_convergence/
*.afdesign
xy_error_example_A.pdf
xy_error_example_B.pdf
pdf/TechReport_frontcover.pdf
.Rproj.user
*.Rproj
data/
out/
out_original/
Rplots.pdf
*.Rhistory
.Rhistory
.Rhistory
R/BayesianBR_results.R
R/BayesianBR_supplementary_tables.R
.Rhistory
